@use './variables';

.sidebar {
  padding: 3vh 2vw;
  background-color: #4ac2a2;
  width: fit-content;
  height: 100vh;
  position: fixed;
  img {
    width: 8rem;
    filter: brightness(0) saturate(100%) invert(100%) sepia(69%) saturate(0%)
      hue-rotate(10deg) brightness(111%) contrast(101%);
  }
  ul {
    padding: 0;
    li {
      list-style-type: none;
      margin: 1rem 0;
      padding: 0.5rem 0.8rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      color: white;
      span:first-child {
        margin-right: 10px;
        span {
          margin-right: 0;
        }
      }
      &.active {
        background-color: white;
        color: variables.$primary-color;
        width: 135%;
        border-radius: 10px 0 0 10px;
      }
    }
  }
}

@media (max-width: 1080px) {
  .sidebar {
    padding: 3vh 1vw;
    img {
      width: 80%;
    }
    li {
      span:last-child {
        display: none;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .sidebar {
    padding: 0vh 1vw;
    height: fit-content;
    width: 100%;
    bottom: 0;
    position: fixed;
    z-index: 9;
    img {
      width: 80%;
      display: none;
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 0;
      li {
        margin: 0.5rem;
        span {
          font-size: 2.5rem;

          &:first-child {
            margin-right: 0;
          }
          svg {
            font-size: 2.5rem;
          }
        }
        display: inline-flex;
        justify-content: center;
        &.active {
          background-color: variables.$primary-color;
          color: white;
          border-radius: 10px 0 0 10px;
        }
      }
    }
  }
}
